---
BasedOnStyle: WebKit
Language:        Cpp
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
#AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Linux
ColumnLimit: 100
Standard:        Cpp11
IndentWidth:     4
TabWidth:        8
UseTab:          Never
PointerAlignment: Left
SpacesInParentheses: false
SpacesInAngles:  false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 4
...

